<!DOCTYPE html>
<html lang="pt-br">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card">
            <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
            <a href="file:///C:/Desenvolvimento/Gestao_Clientes/App/Views/Home/Home.html" class="w3-bar-item w3-button w3-padding-large">HOME</a>
            <a href="file:///C:/Desenvolvimento/Gestao_Clientes/App/Views/Clientes/Index.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CLIENTES</a>

            <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
        </div>
    </div>

    <div class="w3-content" style="max-width:2000px;margin:60px">
        <div class="panel-body">
            <div class="col-sm-12 text-right">
                <a href="file:///C:/Desenvolvimento/Gestao_Clientes/App/Views/Clientes/Create.html" class="btn btn-primary btn-rounded"><i class="fa fa-plus"></i> Adicionar</a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="tab-container">
                    <div class="tab-content">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table id="tb_clientes" class="table table-bordered table-hover table-fw-widget">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Nome</th>
                                            <th class="text-center">CPF</th>
                                            <th class="text-center">Sexo</th>
                                            <th class="text-center">Tipo de Cliente</th>
                                            <th class="text-center">Situação do Cliente</th>
                                            <th class="text-center">Ações</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w3-content" style="max-width:2000px;margin-top:46px">
    </div>


    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
        <p class="w3-medium">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
    </footer>
    <script src="file:///C:/Desenvolvimento/Gestao_Clientes/App/js/padrao.js"></script>
    <script src="file:///C:/Desenvolvimento/Gestao_Clientes/App/js/jquery.min.js"></script>
    <script src="file:///C:/Desenvolvimento/Gestao_Clientes/App/js/navbar.js"></script>
    <script src="file:///C:/Desenvolvimento/Gestao_Clientes/App/js/clientes.js"></script>
    <script>
        $(document).ready(function () {
            PesquisarClientes();
        });
    </script>

</body>

</html>

